<h1 class = "tituloPais">Listado de Deportes</h1>
<div class="container">
  <div class= "row">
  @foreach (Deporte dep in @ViewBag.ListadoDeportes){
    
    <div class="col-sm-3 mt-5 mb-5">
    <div class ="im">
    <a href='@Url.Action("VerDetalleDeporte", new { idDeporte = @dep.IdDeporte })' ><img class ="imgD"src="@dep.Foto" height="180" width="200"></a>
    </div>
    <h3>@dep.Nombre</h3>
    </div>
  }
  </div>
</div>