<h1 class="tituloPais">Listado de Paises</h1>
<div class="container">
    <div class= "row">
        @foreach (Pais pai in @ViewBag.ListadoPaises){
            <div class="col-sm-3 mt-5 mb-5">   
            <div class = "im">
            <a href='@Url.Action("VerDetallePais", new { idPais = @pai.IdPais })'><img class="imgP"src="@pai.Bandera" height="160" width="250"></a>
            </div>
            <h3>@pai.Nombre</h3>
            </div>
        }
    </div>
</div>