<h1>Listado de Paises</h1>
@foreach (Pais pai in @ViewBag.ListadoPaises){



<div class="card" style="width: 18rem;">
  <img src="@pai.Bandera" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@pai.Nombre</h5>
    <a href='@Url.Action("VerDetallePais", new { idPais = @pai.IdPais })' class="btn btn-primary">Ver País</a>
  </div>
</div>
}